body {
 
    margin: 0 auto;
    font-family: sans-serif;
    
}
th,td {
    
    border: 1px solid;
    text-align: center;
}

.taskname {
    width: 250px;
}

th,td {
    width: 100px;
}

th {
    
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

td {
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: small;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
    
}

table {
    padding:15px
}

.content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    margin: 20px;
    
}

input {
    padding: 8px;
}

/* h1 {
    flex: 1;
}

table {
    flex: 1;
} */